html {
    font-family: sans-serif;
  }
  
h1 {
    font-size: 16px;
}

body {
    margin: 10px;
    background: #f5f9fa;
}

div {
    height: 410px;
    border: black solid 2px;
    overflow: auto;
}